@import "var";

.page {
  display: block;
  height: 100%;
  width: 100%;
}

.card {
  width: 380px;

  @include media-xs {
    width: 300px;
  }

  .header {
    border-top-left-radius: $border-radius;
    border-top-right-radius: $border-radius;
  }
}

.header-card-info {
  border-top-left-radius: 0.5rem;
  border-top-right-radius: 0.5rem;
}

.card-info {
  width: 600px;
  border-radius: 0.5rem;
  background-color: white;
}

.logo {
  width: 80px;
  height: 80px;
}

.escudo-unsa-register {
  height: 80px;
}

.text-title {
  text-align: center;
}

.title-main {
  color: white;
  font-weight: bold;
}
