$wine-unsa: (
    50 : #ece0e4,
    100 : #d1b3bb,
    200 : #b2808e,
    300 : #934d61,
    400 : #7b263f,
    500 : #64001d,
    600 : #5c001a,
    700 : #520015,
    800 : #480011,
    900 : #36000a,
    A100 : #ff6e79,
    A200 : #ff3b4a,
    A400 : #ff081b,
    A700 : #ed0012,
    contrast: (
        50 : #000000,
        100 : #000000,
        200 : #000000,
        300 : #ffffff,
        400 : #ffffff,
        500 : #ffffff,
        600 : #ffffff,
        700 : #ffffff,
        800 : #ffffff,
        900 : #ffffff,
        A100 : #000000,
        A200 : #ffffff,
        A400 : #ffffff,
        A700 : #ffffff,
    )
);

$wine-rose: (
    50 : #f3e1e7,
    100 : #e0b4c3,
    200 : #cc829b,
    300 : #b85073,
    400 : #a82b55,
    500 : #990537,
    600 : #910431,
    700 : #86042a,
    800 : #7c0323,
    900 : #6b0116,
    A100 : #ff9aa6,
    A200 : #ff6779,
    A400 : #ff344c,
    A700 : #ff1a36,
    contrast: (
        50 : #000000,
        100 : #000000,
        200 : #000000,
        300 : #ffffff,
        400 : #ffffff,
        500 : #ffffff,
        600 : #ffffff,
        700 : #ffffff,
        800 : #ffffff,
        900 : #ffffff,
        A100 : #000000,
        A200 : #000000,
        A400 : #ffffff,
        A700 : #ffffff,
    )
);