@import "var";

.clickable {
    cursor: pointer;
}

.title-table {
    color: white;
    margin-top: 0;
    font-weight: bold;
}

.all-space {
    height: 100%;
}

.title-normal {
    font-weight: bold;
    margin-top: 2rem;
}
