<div mat-dialog-title>CALIFICAR POSTULANTE</div>

<form [formGroup]="form" (ngSubmit)="save()">
    <mat-dialog-content>
        <div fxLayout="column" fxLayoutGap="16px">
            <div fxLayout="row" fxLayoutGap="8px">
                <h5 class="no-margin bold">{{typeQualifier}}:</h5>
                <h5 class="no-margin">{{currentUser}}</h5>
            </div>
            <div fxLayout="row" fxLayoutGap="8px">
                <h5 class="no-margin bold">ESTÁS CALIFICANDO A:</h5>
                <h5 class="no-margin">{{postulante.firstName}} {{postulante.lastName}}</h5>
            </div>
            <mat-form-field fxFlex>
                <mat-label>NOTA</mat-label>
                <input type="number" formControlName="nota" matInput>
            </mat-form-field>
        </div>
    </mat-dialog-content>
    <mat-dialog-actions fxLayout="row" fxLayoutAlign="end center">
        <button mat-raised-button color="primary" [disabled]="!form.valid">ENVIAR CALIFICACIÓN</button>
    </mat-dialog-actions>
</form>