<div mat-dialog-title>Facultad</div>

<form [formGroup]="form" (ngSubmit)="save()">
    <mat-dialog-content>
        <div class="person small-modal">
            <div fxLayout="column">
                <mat-form-field fxFlex>
                    <mat-label>Nombre de Facultad</mat-label>
                    <input type="text" formControlName="nameFacultad" matInput>
                </mat-form-field>

                <mat-form-field fxFlex>
                    <mat-label>Descripción</mat-label>
                    <input type="text" formControlName="description" matInput>
                </mat-form-field>
            </div>
        </div>
    </mat-dialog-content>
    <mat-dialog-actions fxLayout="row" fxLayoutAlign="end center">
        <button *ngIf="isCreateMode()" mat-button [disabled]="!form.valid">CREAR FACULTAD</button>
        <button *ngIf="isUpdateMode()" mat-button [disabled]="!form.valid">ACTUALIZAR FACULTAD</button>
    </mat-dialog-actions>
</form>